<style>
			.form_block {
				width: 600px;
				/*border: 1px solid lightgray;*/
				padding: 5px;
			}
			.centered {
				margin:auto;
			}
			.form_head {
				font-size: 14pt;
                width: 100%;
                padding: 5px;
                padding-left: 15px;
                border: 1px solid lightgray;
                border-bottom: none;
			}
			.block {
				display: block;
			}
            form {
                border: 1px solid lightgray;
            }
            p {
                padding: 10px;
                padding-bottom: 0;
                text-align: left;
            }
            input[type=text], input[type=email], input[type=checkbox] {
                height: 40px;
                font-size: 12pt;
                padding: 5px;
                width: 570px;
            }
            input[type=checkbox] {
                width: 15px;
                height: 15px;
                /*background: red;*/
            }
            .error {
                font-size: 10pt;
                color: #D50000;
            }
            span a {
                cursor: pointer;
            }
            .hint {
                font-size: 10pt;
                color: blue;    
                /*opacity: 0;            */
                display: none;
            }
</style>
<script>
    function onCheckBoxStateChange() {
        document.forms[0]['phone'].disabled = document.forms[0]['phone'].disabled ^ true;
    }
</script>
<div class="centered form_block" ng-controller="OrderingController">
    <div class="form_head block">
        Order offering
    </div>
    <form ng-submit="submit()">
        <p>
            <span>How shall we call you?</span>
            <input 
                ng-keypress="nameKeyPressed()"
                ng-blur="nameFocusOutEventHandler()"
                ng-model="userInfo.name" 
                type="text" 
                placeholder="John Shepard" 
                name="name" />
            <span class="error">{{nameValidationError}}</span>
        </p>
        <p>
            <span>Your email</span>
                <input 
                    ng-keypress="emailKeyPressed()" 
                    ng-keyup="emailKeyUp()"
                    ng-blur="emailFocusOutEventHandler()" 
                    type="email" 
                    placeholder="j.shepard@mail.com" 
                    name="email" />
                <span class="error">{{emailValidationError}}</span>
        </p>
        <p>
            <input 
                name="donotcallme" 
                ng-model="userInfo.donotcallme" 
                ng-change="donotcallmeChanged()"
                onchange="onCheckBoxStateChange()" 
                type="checkbox"/>
            <span style="font-size: 12pt;"> Do not call me</span>
            <span>&nbsp;
                <a 
                    onmousemove="showHint('dontcallmeHint')" 
                    onmouseout="hideHint('dontcallmeHint')">?</a>
                <span id="dontcallmeHint" class="hint"> Check this, if you are sure in your order and we will not disturb you</span>
            </span>
        </p>
        <p>
            <span>Your phone number</span>
            <input 
                ng-keypress="phoneKeyPressed()"
                ng-keyup="phoneKeyUp()"                
                ng-blur="phoneFocusOutEventHandler()"
                type="text" 
                placeholder="+38 (000) 00 000 00" 
                name="phone" />
            <span class="error">{{phoneValidationError}}</span>
        </p>
        <p>
            <span>Where to deliever?</span>
            <input 
                ng-keypress="addressKeyPressed()"
                ng-blur="addressFocusOutEventHandler()"
                ng-model="userInfo.address" 
                type="text" 
                placeholder="Lviv, St.Banderu st. 19" 
                name="address" />
            <span class="error">{{addressValidationError}}</span>
            </p>
        <p style="text-align: right">
            <input 
                type="submit" 
                value="Complete" 
                class="btn btn-primary" />&nbsp;&nbsp;
            <button class="btn btn-default">Continue shopping</button></p>
    </form>
    
</div>